//colours we'll be using throughout the site
$input-border-grey: #979797;
$wave-blue: #4d86b6;
$black: #202233;

//breakpoints for responsive
$breakpoint-laptop: 1200px;
$breakpoint-small-laptop: 1000px;
$breakpoint-tablet: 800px;
$breakpoint-phone: 500px;
