$base-path: "/fonts/";

@font-face {
  font-family: "Open Sans";
  src: url("#{$base-path}OpenSans-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Light";
  src: url("#{$base-path}OpenSans-Light.ttf") format("ttf");
  font-display: swap;
}
