@import "variables";
@import "mixins";

.navContainer {
  display: flex;
  top: 0;
  position: sticky;
  background-color: $white;
  justify-content: space-between;
  padding: 1.5rem 6rem 1.5rem;
  width: 100vw;
  align-content: center;
  z-index: 10;
  border-bottom: 2px solid $wave-blue;

  &.disableMobile {
    position: relative;
  }

  @media only screen and (max-width: $breakpoint-tablet) {
    padding: 2rem 5rem 2rem;
  }

  @media only screen and (max-width: $breakpoint-phone) {
    padding: 2rem 2rem 1.5rem;
    justify-content: space-between;
  }

  .navHover {
    cursor: pointer;
  }
}

.linksContainer {
  display: flex;
  right: 0;
  width: 30rem;
  justify-content: space-between;

  @media only screen and (max-width: $breakpoint-tablet) {
    width: 25rem;
    justify-content: flex-end;
  }

  .linkButton {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    cursor: pointer;

    border: 0.5px solid white;
    border-radius: 5px;
    width: 6rem;

    &.disableMobile {
      display: none;
    }

    @include p3;
    font-family: "Open Sans SemiBold";
    color: $wave-blue;
    background-color: $white;
    font-weight: 500;

    @media only screen and (max-width: $breakpoint-phone) {
      margin-bottom: 0.5rem;
      padding: 0;
    }
  }
}
