@import "variables";
@import "mixins";
@import "fonts";

.recentProject {
  color: $black;

  .sectionTitle {
    @include sectionTitle;
    margin-bottom: 5rem;
    font-family: "Open Sans SemiBold";

    @media (max-width: $breakpoint-tablet) {
      margin-bottom: 3rem;
    }
  }

  .steps {
    width: 100%;
    display: grid;
    grid-template-columns: fit-content(80px) 1fr;
    grid-gap: 0 2rem;

    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: fit-content(60px) 1fr;
      grid-gap: 0 1rem;
    }
  }

  .stepIconWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .stepIconCircle {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    background-color: $white;
    border: 2px solid $wave-blue;
    display: grid;
    place-items: center;
  }

  .stepIconLine {
    width: 2px;
    background-color: $wave-blue;
    height: calc(100%);
  }

  .step {
    width: 100%;
    display: grid;
    grid-gap: 4rem;
    padding-bottom: 4rem;

    &:last-of-type {
      padding-bottom: 0;
    }

    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: 100%;
      grid-gap: 3rem;
    }
  }

  .stepContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Open Sans";

    span {
      @include p1;
      margin-bottom: 0.75rem;
      color: $black;
      font-family: "Open Sans SemiBold";
    }

    p {
      @include p2;
      font-weight: 300;
      color: $black;
      width: 80%;

      @media (max-width: $breakpoint-tablet) {
        width: 100%;
      }
    }
  }
}
